/.idea/
/.gradle/
/build/

/mkdocs.yml
/allnav.yml
/doc/site/generated/
/doc/std/vodml-generated/
/site/assets/images/favicon.png
/site/assets/javascripts/lunr/min/lunr.ar.min.js
/site/assets/javascripts/lunr/min/lunr.da.min.js
/site/assets/javascripts/lunr/min/lunr.de.min.js
/site/assets/javascripts/lunr/min/lunr.du.min.js
/site/assets/javascripts/lunr/min/lunr.el.min.js
/site/assets/javascripts/lunr/min/lunr.es.min.js
/site/assets/javascripts/lunr/min/lunr.fi.min.js
/site/assets/javascripts/lunr/min/lunr.fr.min.js
/site/assets/javascripts/lunr/min/lunr.he.min.js
/site/assets/javascripts/lunr/min/lunr.hi.min.js
/site/assets/javascripts/lunr/min/lunr.hu.min.js
/site/assets/javascripts/lunr/min/lunr.hy.min.js
/site/assets/javascripts/lunr/min/lunr.it.min.js
/site/assets/javascripts/lunr/min/lunr.ja.min.js
/site/assets/javascripts/lunr/min/lunr.jp.min.js
/site/assets/javascripts/lunr/min/lunr.kn.min.js
/site/assets/javascripts/lunr/min/lunr.ko.min.js
/site/assets/javascripts/lunr/min/lunr.multi.min.js
/site/assets/javascripts/lunr/min/lunr.nl.min.js
/site/assets/javascripts/lunr/min/lunr.no.min.js
/site/assets/javascripts/lunr/min/lunr.pt.min.js
/site/assets/javascripts/lunr/min/lunr.ro.min.js
/site/assets/javascripts/lunr/min/lunr.ru.min.js
/site/assets/javascripts/lunr/min/lunr.sa.min.js
/site/assets/javascripts/lunr/min/lunr.stemmer.support.min.js
/site/assets/javascripts/lunr/min/lunr.sv.min.js
/site/assets/javascripts/lunr/min/lunr.ta.min.js
/site/assets/javascripts/lunr/min/lunr.te.min.js
/site/assets/javascripts/lunr/min/lunr.th.min.js
/site/assets/javascripts/lunr/min/lunr.tr.min.js
/site/assets/javascripts/lunr/min/lunr.vi.min.js
/site/assets/javascripts/lunr/min/lunr.zh.min.js
/site/assets/javascripts/lunr/tinyseg.js
/site/assets/javascripts/lunr/wordcut.js
/site/assets/javascripts/workers/search.973d3a69.min.js
/site/assets/javascripts/workers/search.973d3a69.min.js.map
/site/assets/javascripts/bundle.92b07e13.min.js
/site/assets/javascripts/bundle.92b07e13.min.js.map
/site/assets/stylesheets/main.7e37652d.min.css
/site/assets/stylesheets/main.7e37652d.min.css.map
/site/assets/stylesheets/palette.06af60db.min.css
/site/assets/stylesheets/palette.06af60db.min.css.map
/site/generated/execbroker/AbstractComponent/index.html
/site/generated/execbroker/AbstractComputeResource/index.html
/site/generated/execbroker/AbstractDataResource/index.html
/site/generated/execbroker/AbstractExecutable/index.html
/site/generated/execbroker/AbstractExecutionSession/index.html
/site/generated/execbroker/AbstractOption/index.html
/site/generated/execbroker/AbstractStorageResource/index.html
/site/generated/execbroker/AbstractUpdate/index.html
/site/generated/execbroker/AbstractVolumeMount/index.html
/site/generated/execbroker/ComponentMetadata/index.html
/site/generated/execbroker/DockerContainer/index.html
/site/generated/execbroker/DockerExternalPort/index.html
/site/generated/execbroker/DockerImageSpec/index.html
/site/generated/execbroker/DockerInternalPort/index.html
/site/generated/execbroker/DockerNetworkPort/index.html
/site/generated/execbroker/DockerNetworkSpec/index.html
/site/generated/execbroker/DockerPlatformSpec/index.html
/site/generated/execbroker/EnumValueOption/index.html
/site/generated/execbroker/EnumValueUpdate/index.html
/site/generated/execbroker/ExecutionRequestComponents/index.html
/site/generated/execbroker/ExecutionSessionResponseFour/index.html
/site/generated/execbroker/IntegerDeltaOption/index.html
/site/generated/execbroker/IntegerDeltaUpdate/index.html
/site/generated/execbroker/IntegerValueOption/index.html
/site/generated/execbroker/IntegerValueUpdate/index.html
/site/generated/execbroker/ISO8601Duration/index.html
/site/generated/execbroker/ISO8601Instant/index.html
/site/generated/execbroker/ISO8601Interval/index.html
/site/generated/execbroker/IvoaDataLinkItem/index.html
/site/generated/execbroker/IvoaDataResource/index.html
/site/generated/execbroker/IvoaDataResourceBlock/index.html
/site/generated/execbroker/IvoaObsCoreItem/index.html
/site/generated/execbroker/JupyterNotebook/index.html
/site/generated/execbroker/LifecycleComponent/index.html
/site/generated/execbroker/LifecyclePhase/index.html
/site/generated/execbroker/LifecycleSchedule/index.html
/site/generated/execbroker/LifecycleStartDurationInstant/index.html
/site/generated/execbroker/LifecycleStartDurationInterval/index.html
/site/generated/execbroker/MessageItem/index.html
/site/generated/execbroker/NameValueMap/index.html
/site/generated/execbroker/OfferSetRequest/index.html
/site/generated/execbroker/OfferSetResponse/index.html
/site/generated/execbroker/RequestedScheduleBlock/index.html
/site/generated/execbroker/RequestedScheduleItem/index.html
/site/generated/execbroker/RucioDataResource/index.html
/site/generated/execbroker/RucioDataResourceBlock/index.html
/site/generated/execbroker/S3DataResource/index.html
/site/generated/execbroker/ScheduledExecutionSchedule/index.html
/site/generated/execbroker/ScheduledExecutionSession/index.html
/site/generated/execbroker/ScheduleStartDurationInstant/index.html
/site/generated/execbroker/ScheduleStartDurationInterval/index.html
/site/generated/execbroker/SimpleComputeCores/index.html
/site/generated/execbroker/SimpleComputeMemory/index.html
/site/generated/execbroker/SimpleComputeResource/index.html
/site/generated/execbroker/SimpleDataResource/index.html
/site/generated/execbroker/SimpleExecutionComponents/index.html
/site/generated/execbroker/SimpleExecutionSession/index.html
/site/generated/execbroker/SimpleExecutionSessionPhase/index.html
/site/generated/execbroker/SimpleSessionConnector/index.html
/site/generated/execbroker/SimpleStorageResource/index.html
/site/generated/execbroker/SimpleStorageSize/index.html
/site/generated/execbroker/SimpleVolumeMount/index.html
/site/generated/execbroker/SingularityContainer/index.html
/site/generated/execbroker/SkaoChecksumItem/index.html
/site/generated/execbroker/SkaoDataResource/index.html
/site/generated/execbroker/SkaoDataResourceBlock/index.html
/site/generated/execbroker/SkaoReplicaItem/index.html
/site/generated/execbroker/StringValueOption/index.html
/site/generated/execbroker/StringValueUpdate/index.html
/site/generated/ExecutionBrokerDM-v1.vo-dml/index.html
/site/generated/ivoa/anyURI/index.html
/site/generated/ivoa/boolean/index.html
/site/generated/ivoa/complex/index.html
/site/generated/ivoa/datetime/index.html
/site/generated/ivoa/integer/index.html
/site/generated/ivoa/IntegerQuantity/index.html
/site/generated/ivoa/nonnegativeInteger/index.html
/site/generated/ivoa/Quantity/index.html
/site/generated/ivoa/rational/index.html
/site/generated/ivoa/real/index.html
/site/generated/ivoa/RealQuantity/index.html
/site/generated/ivoa/string/index.html
/site/generated/ivoa/Unit/index.html
/site/generated/IVOA-v1.0.vo-dml/index.html
/site/generated/javadoc/legal/jquery/index.html
/site/generated/javadoc/legal/jqueryUI/index.html
/site/generated/javadoc/legal/COPYRIGHT
/site/generated/javadoc/legal/LICENSE
/site/generated/javadoc/org/ivoa/dm/executionbroker/AbstractComponent.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/AbstractComputeResource.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/AbstractDataResource.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/AbstractExecutable.AbstractExecutableBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/AbstractExecutable.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/AbstractExecutionSession.AbstractExecutionSessionBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/AbstractExecutionSession.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/AbstractOption.AbstractOptionBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/AbstractOption.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/AbstractStorageResource.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/AbstractUpdate.AbstractUpdateBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/AbstractUpdate.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/AbstractVolumeMount.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/ComponentMetadata.ComponentMetadataBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/ComponentMetadata.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/DockerContainer.DockerContainerBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/DockerContainer.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/DockerExternalPort.DockerExternalPortBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/DockerExternalPort.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/DockerImageSpec.DockerImageSpecBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/DockerImageSpec.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/DockerInternalPort.DockerInternalPortBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/DockerInternalPort.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/DockerNetworkPort.DockerNetworkPortBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/DockerNetworkPort.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/DockerNetworkSpec.DockerNetworkSpecBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/DockerNetworkSpec.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/DockerPlatformSpec.DockerPlatformSpecBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/DockerPlatformSpec.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/EnumValueOption.EnumValueOptionBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/EnumValueOption.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/EnumValueUpdate.EnumValueUpdateBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/EnumValueUpdate.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/ExecbrokerModel.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/ExecbrokerModel.References.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/ExecutionRequestComponents.ExecutionRequestComponentsBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/ExecutionRequestComponents.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/ExecutionSessionResponseFour.ExecutionSessionResponseFourBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/ExecutionSessionResponseFour.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/IntegerDeltaOption.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/IntegerDeltaOption.IntegerDeltaOptionBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/IntegerDeltaUpdate.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/IntegerDeltaUpdate.IntegerDeltaUpdateBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/IntegerValueOption.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/IntegerValueOption.IntegerValueOptionBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/IntegerValueUpdate.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/IntegerValueUpdate.IntegerValueUpdateBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/ISO8601Duration.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/ISO8601Instant.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/ISO8601Interval.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/IvoaDataLinkItem.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/IvoaDataLinkItem.IvoaDataLinkItemBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/IvoaDataResource.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/IvoaDataResource.IvoaDataResourceBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/IvoaDataResourceBlock.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/IvoaDataResourceBlock.IvoaDataResourceBlockBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/IvoaObsCoreItem.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/IvoaObsCoreItem.IvoaObsCoreItemBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/JupyterNotebook.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/JupyterNotebook.JupyterNotebookBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/LifecycleComponent.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/LifecyclePhase.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/LifecycleSchedule.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/LifecycleSchedule.LifecycleScheduleBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/LifecycleStartDurationInstant.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/LifecycleStartDurationInstant.LifecycleStartDurationInstantBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/LifecycleStartDurationInterval.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/LifecycleStartDurationInterval.LifecycleStartDurationIntervalBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/MessageItem.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/MessageItem.MessageItemBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/NameValueMap.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/NameValueMap.NameValueMapBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/OfferSetRequest.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/OfferSetRequest.OfferSetRequestBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/OfferSetResponse.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/OfferSetResponse.OfferSetResponseBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/package-summary.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/package-tree.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/RequestedScheduleBlock.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/RequestedScheduleBlock.RequestedScheduleBlockBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/RequestedScheduleItem.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/RequestedScheduleItem.RequestedScheduleItemBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/RucioDataResource.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/RucioDataResource.RucioDataResourceBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/RucioDataResourceBlock.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/RucioDataResourceBlock.RucioDataResourceBlockBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/S3DataResource.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/S3DataResource.S3DataResourceBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/ScheduledExecutionSchedule.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/ScheduledExecutionSchedule.ScheduledExecutionScheduleBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/ScheduledExecutionSession.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/ScheduledExecutionSession.ScheduledExecutionSessionBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/ScheduleStartDurationInstant.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/ScheduleStartDurationInstant.ScheduleStartDurationInstantBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/ScheduleStartDurationInterval.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/ScheduleStartDurationInterval.ScheduleStartDurationIntervalBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/SimpleComputeCores.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/SimpleComputeCores.SimpleComputeCoresBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/SimpleComputeMemory.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/SimpleComputeMemory.SimpleComputeMemoryBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/SimpleComputeResource.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/SimpleComputeResource.SimpleComputeResourceBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/SimpleDataResource.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/SimpleDataResource.SimpleDataResourceBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/SimpleExecutionComponents.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/SimpleExecutionComponents.SimpleExecutionComponentsBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/SimpleExecutionSession.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/SimpleExecutionSession.SimpleExecutionSessionBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/SimpleExecutionSessionPhase.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/SimpleSessionConnector.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/SimpleSessionConnector.SimpleSessionConnectorBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/SimpleStorageResource.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/SimpleStorageResource.SimpleStorageResourceBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/SimpleStorageSize.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/SimpleStorageSize.SimpleStorageSizeBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/SimpleVolumeMount.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/SimpleVolumeMount.SimpleVolumeMountBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/SingularityContainer.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/SingularityContainer.SingularityContainerBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/SkaoChecksumItem.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/SkaoChecksumItem.SkaoChecksumItemBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/SkaoDataResource.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/SkaoDataResource.SkaoDataResourceBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/SkaoDataResourceBlock.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/SkaoDataResourceBlock.SkaoDataResourceBlockBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/SkaoReplicaItem.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/SkaoReplicaItem.SkaoReplicaItemBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/StringValueOption.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/StringValueOption.StringValueOptionBuilder.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/StringValueUpdate.html
/site/generated/javadoc/org/ivoa/dm/executionbroker/StringValueUpdate.StringValueUpdateBuilder.html
/site/generated/javadoc/resources/glass.png
/site/generated/javadoc/resources/x.png
/site/generated/javadoc/script-dir/jquery-3.6.1.min.js
/site/generated/javadoc/script-dir/jquery-ui.min.css
/site/generated/javadoc/script-dir/jquery-ui.min.js
/site/generated/javadoc/allclasses-index.html
/site/generated/javadoc/allpackages-index.html
/site/generated/javadoc/element-list
/site/generated/javadoc/help-doc.html
/site/generated/javadoc/index.html
/site/generated/javadoc/index-all.html
/site/generated/javadoc/jquery-ui.overrides.css
/site/generated/javadoc/member-search-index.js
/site/generated/javadoc/module-search-index.js
/site/generated/javadoc/overview-tree.html
/site/generated/javadoc/package-search-index.js
/site/generated/javadoc/script.js
/site/generated/javadoc/search.js
/site/generated/javadoc/serialized-form.html
/site/generated/javadoc/stylesheet.css
/site/generated/javadoc/tag-search-index.js
/site/generated/javadoc/type-search-index.js
/site/generated/schema/ExecutionBrokerDM-v1.vo-dml.json
/site/generated/schema/ExecutionBrokerDM-v1.vo-dml.tap.xml
/site/generated/schema/ExecutionBrokerDM-v1.vo-dml.xsd
/site/generated/schema/jsoncat.txt
/site/generated/schema/xmlcat.xml
/site/generated/allnav.yml
/site/generated/ExecutionBrokerDM-v1.vo-dml.graphml
/site/generated/ExecutionBrokerDM-v1.vo-dml.gvd
/site/generated/ExecutionBrokerDM-v1.vo-dml.svg
/site/generated/ExecutionBrokerDM-v1.vo-dml_nav.json
/site/generated/IVOA-v1.0.vo-dml.graphml
/site/generated/IVOA-v1.0.vo-dml.gvd
/site/generated/IVOA-v1.0.vo-dml.svg
/site/generated/IVOA-v1.0.vo-dml_nav.json
/site/schema/index.html
/site/search/search_index.json
/site/404.html
/site/index.html
/site/sitemap.xml
